/**
 * This file was generated automatically by Supernova.io and should not be changed manually.
 * To modify the format or content of this file, please contact your design system team. 
 */

:root {
  --i-shadow-100: 0px 1px 4px 0px rgba(var(--rgb-i-color-shadow-color-base), 0.05);
  --i-shadow-200: 0px 2px 4px -2px rgba(var(--rgb-i-color-shadow-color-base), 0.05), 0px 4px 6px -2px rgba(var(--rgb-i-color-shadow-color-base), 0.05);
  --i-shadow-300: 0px 4px 4px -2px rgba(var(--rgb-i-color-shadow-color-base), 0.05), 0px 12px 16px -4px rgba(var(--rgb-i-color-shadow-color-soft), 0.08);
  --i-shadow-400: 0px 4px 4px -4px rgba(var(--rgb-i-color-shadow-color-base), 0.05), 0px 16px 32px -4px rgba(var(--rgb-i-color-shadow-color-medium), 0.1);
  --i-shadow-500: 0px 16px 32px -8px rgba(var(--rgb-i-color-shadow-color-strong), 0.4);
}